.bloc{
	padding:15px 10px;
}
.bold{
	font-weight:bold;
}
.cickable{
	cursor: pointer;
}
.title{
	font-weight:bold;
	font-size:145%;
}

/* styles for displayed words */
.current {
  color: orange;
  text-decoration: underline;
}
.none {
  
}
.untreatedDtw {
  color: #E0E0E0;
  cursor: pointer;
}


/* styles for speaker diarization bar*/
.canvas {
  background: #F8F8F8 ;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 15px 15px 1px rgba(0, 0, 255, 0.2);
}
.speaking {
 border-width:5px;
 border-style:inset;
 border-color:grey;
}
.notSpeaking{

}
