/* styles for displayed words */
.current {
  color: orange;
  text-decoration: underline;
  cursor: pointer;
}
.suppr {
  color: red;
  cursor: pointer;
}
.inser {
  color: green;
  cursor: pointer;
}
.showInser {
  color: green;
  font-weight:bold;
}
.subst {
  color: blue;
  cursor: pointer;
}
.showSubst {
  color: blue;
  font-weight:bold;
}
.none {
  cursor: pointer;
}
.untreatedDtw {
  color: #E0E0E0;
  cursor: pointer;
}

/* styles for user messages */
.message {
  color: red;
  font-weight:bold;
  font-size:150%;
}
.clickableMessage {
  color: red;
  font-weight:bold;
  font-size:150%;
  text-decoration: underline;
  cursor: pointer;
}

/* styles for speaker diarization bar*/
.canvas {
  background: #F8F8F8 ;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 15px 15px 1px rgba(0, 0, 0, 0.1);
}
