/* styles for displayed words */
.current {
  color: orange;
  text-decoration: underline;
  cursor: pointer;
}
.suppr {
  color: red;
  cursor: pointer;
}
.supprCaption {
  color: red;
}
.inser {
  color: green;
  cursor: pointer;
}
.inserCaption {
  color: green;
}
.showInser {
  color: green;
  font-weight:bold;
}
.subst {
  color: blue;
  cursor: pointer;
}
.substCaption {
  color: blue;
}
.showSubst {
  color: blue;
  font-weight:bold;
}
.none {
  cursor: pointer;
}
.untreatedDtw {
  color: #E0E0E0;
  cursor: pointer;
}

/* styles for user messages */
.message {
  color: red;
  font-weight:bold;
  font-size:150%;
}
.clickableMessage {
  color: red;
  font-weight:bold;
  font-size:150%;
  text-decoration: underline;
  cursor: pointer;
}
.bold{
	font-weight:bold;
}
.enabledButton{
	padding:5px;
	font-weight:bold;
	border-width:5px;
	border-style:inset;
	border-color:grey;
	background:#E0E0E0 ;
	cursor: pointer;
}
.disabledButton{

}

/* styles for speaker diarization bar*/
.canvas {
  background: #F8F8F8 ;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 15px 15px 1px rgba(0, 0, 0, 0.1);
}
.speaking {
 border-width:5px;
 border-style:inset;
 border-color:grey;
}
.notSpeaking{

}
