

.bloc{
	padding:15px 10px;
}
.bold{
	font-weight:bold;
}
.italic{
	font-style:italic 
}
.title{
	font-weight:bold;
	font-size:145%;
}

/* styles for displayed words */
.current {
  color: orange;
  text-decoration: underline;
}
.none {
  
}
.untreatedDtw {
  color: #E0E0E0;
  cursor: pointer;
}


/* styles for speaker diarization bar*/
.canvas {
  background: #F8F8F8 ;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 15px 15px 1px rgba(0, 0, 255, 0.2);
}


/* popover */

.popover {
    position:absolute;
    display:none;
    background:#fff;
    border: 1px solid #999;
    padding:10px;
    box-shadow:0 0 10px rgba(0, 0, 0, .5);
}
.popover:after, .popover:before {
    right: 100%;
    border: solid transparent;
    content:" ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.popover:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
}
.popover:before {
    border-color: rgba(201, 201, 201, 0);
    border-right-color: #c9c9c9;
    border-width: 11px;
    top: 50%;
    margin-top: -11px;
}