@()

@main("Hash demo", "demo") {

<!-- Main Wrapper -->
<div id="main-wrapper" ng-controller="TranscriptionCtrl">
    <div class="container">
    <a href="http://localhost:9000/demo/results"> Speaker Diarization </a>
    <br/>
    <p> <span class="message">{{transcriptionsData.calculationMessage}} </span> </p>
    <p> <span class="message">{{transcriptionsData.message}} </span><span ng-click="startVideo(transcriptionsData.fullTranscription[0].content[0].start)" class="clickableMessage">{{transcriptionsData.clickableMessage}}</span> </p>
          
    <div class="row">
      <div class="6u skel-cell-mainContent">

        <!-- Content -->   
        
        <article class="last" id="content0">

            <h2>{{transcriptionsData.displayedTranscriptions[0].id}} Transcription</h2>

			<p style="text-align: justify; text-justify: newspaper">
              <span ng-repeat="jsonWord in transcriptionsData.displayedTranscriptions[0].transcription" ngModel="transcriptionsData.displayedTranscriptions[0].transcription" data-start="{{jsonWord.start}}" ng-click="moveVideo($event)" class="{{jsonWord.wordClass}}">{{jsonWord.word}} </span>
            </p>

        </article>
    
      </div>
      <div class="6u skel-cell-mainContent">

        <!-- Content -->   
        
        <article class="last" id="content3">

            <h2>Comparison with {{transcriptionsData.displayedTranscriptions[3].id}}</h2>

			<p style="text-align: justify; text-justify: newspaper">
              <span ng-repeat="jsonWord in transcriptionsData.displayedTranscriptions[3].transcription" ngModel="transcriptionsData.displayedTranscriptions[3].transcription" data-start="{{jsonWord.start}}" ng-click="moveVideo($event)" ng-mouseenter="transcriptionsData.showCorespondingWordInReferenceWord(jsonWord)" ng-mouseleave="transcriptionsData.hideCorespondingWordInReferenceWord(jsonWord)" class="{{jsonWord.wordClass}}">{{jsonWord.word}} </span>
            </p>

        </article>
        
      </div>
      
    </div>
    <div class="row">
        <div class="3u" id="content1">
            <h3>{{transcriptionsData.displayedTranscriptions[1].id}} Transcription (auxiliary system of {{transcriptionsData.displayedTranscriptions[0].id}})</h3>
            
            <p>
              <span ng-repeat="jsonWord in transcriptionsData.displayedTranscriptions[1].transcription" ngModel="transcriptionsData.displayedTranscriptions[1].transcription" data-start="{{jsonWord.start}}" ng-click="moveVideo($event)" ng-mouseenter="transcriptionsData.showCorespondingWordInReferenceWord(jsonWord)" ng-mouseleave="transcriptionsData.hideCorespondingWordInReferenceWord(jsonWord)"  class="{{jsonWord.wordClass}}">{{jsonWord.word}} </span>
            </p>
            
        </div>
        <div class="3u" id="content2">
            <h3>{{transcriptionsData.displayedTranscriptions[2].id}} Transcription (auxiliary system of {{transcriptionsData.displayedTranscriptions[0].id}})</h3>
            
            <p>
              <span ng-repeat="jsonWord in transcriptionsData.displayedTranscriptions[2].transcription" ngModel="transcriptionsData.displayedTranscriptions[2].transcription" data-start="{{jsonWord.start}}" ng-click="moveVideo($event)" ng-mouseenter="transcriptionsData.showCorespondingWordInReferenceWord(jsonWord)" ng-mouseleave="transcriptionsData.hideCorespondingWordInReferenceWord(jsonWord)"  class="{{jsonWord.wordClass}}">{{jsonWord.word}} </span>
            </p>
            
        </div>
        <div class="3u">
          <h3>Your file</h3>
          <audio width="600" id="mediafile" controls preload>
            <source type="audio/wav" src="http://localhost/tmp/BFMTV_BFMStory_2011-03-17_175900.wav" />
          </audio>
        </div>

    </div>
    <div class="row">
      <div class="6u skel-cell-mainContent">
        <article class="last">

            <h3>Caption</h3>
            <p>We choose the ASH system as a reference for the comparison.</p>
            <p><span class="substCaption">hypothesisWord(->referenceWord) </span>: the hypothesisWord(SPH,LIA or RASR) must be substituted with the referenceWord to match with the reference(ASH).<br>
            <span class="supprCaption">-hypothesisWord- </span>: the hypothesisWord(SPH,LIA or RASR) must be deleted to match with the reference(ASH).<br>
            <span class="inserCaption">+referenceWord+</span>: the referenceWord(ASH) must be inserted into the hypothesis(SPH,LIA or RASR) to match with the reference(ASH).</p>

        </article>
    
      </div>
    </div>
    
  </div>
</div>

<script>
// jQuery method
$('#mediafile').mediaelementplayer();
</script>
}
