@()

@main("Quality speech-to-text for everyone") {
<!-- Banner Wrapper -->

<div id="banner-wrapper">
  <div class="container">
    <div class="row">
      <div class="12u">

        <!-- Banner -->
        <div id="banner" class="box">

          <div>
            <div class="row">
              <div class="7u">
                <h2>Speech-to-text for everyone.</h2>
                <p>Upload your file. Get your transcription. Smile.</p>
              </div>
              <div class="5u">
                <ul>
                  <li><a href="@routes.Application.demo()" class="button button-big button-icon button-icon-rarrow">Ok let's go</a></li>
                  <li><a href="@routes.Application.about()" class="button button-alt button-big button-icon button-icon-question">More info</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

}
